.description-singlePage {
  margin-bottom: 80px;
  &__list {
    display: flex;
    padding: 0 12px;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 20px;
  }

  &__item {
    &:first-child &-btn {
      border-bottom: 4px solid #1c2d3f;
    }

    &-btn {
      width: 200px;
      height: 60px;
      display: flex;
      margin-top: 2px;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      border-bottom: 4px solid transparent;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #2f2f2f;

      &:hover {
        border-bottom: 4px solid #1c2d3f;
        font-weight: 600;
      }
    }
  }

  // characteristics style start
  &__wrapper-list {
    background-color: #fff;
    border-radius: 12px;
    padding: 50px 40px;
  }
  &__wrapper-item {
    &:first-child {
      margin-bottom: 60px;
    }

    &-sublist {
      display: flex;
      justify-content: space-between;
    }

    &-subitem {
      max-width: 340px;
      width: 100%;

      &:first-child {
        max-width: 350px;
      }

      &-title {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #2f2f2f;
        margin-bottom: 13px;
      }

      &-inlist {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 11px !important;
      }

      &-initem {
        padding: 7px 0;
        max-width: 150px;
        width: 100%;

        &-subtitle {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 16px;
          color: #c1c1c1;
        }

        &-text {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 22px;
          color: #2f2f2f;
        }
      }
    }
  }
  // characteristics style end

  // about style start
  &__about {
    &-list {
      background-color: #fff;
      border-radius: 12px;
      padding: 60px 50px 200px;
      display: flex;
      justify-content: space-between;
    }

    &-item {
      max-width: 570px;
      width: 100%;

      &-first-desc {
        margin-bottom: 25px;
      }

      &-third-desc {
        font-family: "Poppins";
        font-weight: 400;
        line-height: 26px;
      }

      &-text {
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
        color: #2f2f2f;
      }
    }
  }
  // about style end

  // comments style start
  &__comments {
    &-list {
      background-color: #fff;
      border-radius: 12px;
      padding: 100px 26px 100px 27px;
      display: flex;
      justify-content: space-between;
    }
    &-item {
      max-width: 310px;
      width: 100%;

      &-wrapper {
        border-radius: 3px;
        background-color: rgba(233, 233, 233, 0.3);
        padding: 24px 20px;
        margin-bottom: 16px;
      }

      &-inner {
        display: flex;
        align-items: flex-start;
        margin-bottom: 9px;

        &-img {
          border-radius: 50%;
          margin-right: 16px;
        }
      }

      &-box {
        &-title {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 22px;
          color: #000000;
          margin-bottom: 2px;
        }

        &-text-id {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 16px;
          color: #c1c1c1;
        }
      }

      &-text {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        padding: 10px 10px 20px;
        color: #2f2f2f;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 27px;
      }

      &-text-data {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        color: #2f2f2f;
        margin-left: 20px;
      }
    }
  }

  // comments style end
}
